html, body
{
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    scroll-behavior: auto;
}
h1, h2, h3, h4, h5, h6
{
    font-family: "Prata", serif;
    color: #333;
}
h1
{
    font-size: 38px;
}
h2
{
    color: #676767;
    margin-top: 20px;
}
ul li a
{
    display: block;
}
.container-fluid
{
    height: 100%;
    justify-content: center;
}
.container-fluid#intro
{
    align-items: center;
}
.container-fluid#cases
{
    background-color: #e9f9f9;
}

.navigation
{
    position: absolute;
    top: 0;
    margin: auto auto auto 10%;
    width: 80%;
    align-self: center;
    font-family: "Prata", serif;
}
.icon-bar
{
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

nav.navbar
{
    justify-content: space-between;
    font-size: 14px;
}
.navbar-brand img
{
    height: 60px;
}
.navbar-collapse
{
    overflow: hidden;
}
.navbar-toggler
{
    border: none;
    border-radius: 0;
    outline: none !important;
    padding: 15px;
}

.navbar-collapse.collapsing, .navbar-collapse.show
{
    position: absolute;
    top: 100%;
    background-color: #C8C8C8;
    display: block;
    width: 95%;
}
ul.nav
{
    list-style-type: none;
}
.nav-link
{
    padding: 0 1.5rem !important;
    line-height: 50px;
}
.nav a
{
    color: #333;
}
.nav a:hover
{
    color: #2274a5 !important;
    text-decoration: none;
}

div.intro
{
    width: 80%;
    font-size: 16px;
    position: relative;
    top: -5%;
    justify-content: center;
}
div.intro .text-container
{
    max-width: 70%;
}
.intro p
{
    margin-bottom: 0;
}

div.cases
{
    width: 80%;
}

@media only screen and (max-width: 991px){
    div.intro .text-container
    {
        max-width: 70%;
    }
}