html, body
{
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6
{
    font-family: "Prata", serif;
    color: #333;
}
h1
{
    font-size: 38px;
}

.container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.navigation
{
    width: 100%;
    font-family: "Prata", serif;
}
nav.navbar
{
    justify-content: space-between;
    font-size: 14px;
}
.navbar-brand img
{
    height: 60px;
}
.navbar-collapse
{
    overflow: hidden;
    top: 100%;
}

.navbar-collapse.collapsing, .navbar-collapse.show
{
    position: absolute;
    background-color: #C8C8C8;
    display: block;
    width: 100%;
}
ul.nav
{
    list-style-type: none;
}
.nav-link
{
    padding: 0 1.5rem !important;
    line-height: 50px;
}
.nav-link a
{
    color: #333;
}
.nav-link a:hover
{
    color: #2274a5;
    text-decoration: none;
}

main
{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
main div.intro
{
    max-width: 70%;
    font-size: 16px;
}
