html, body
{
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    scroll-behavior: auto;
}
h1, h2, h4, h5, h6
{
    font-family: "Prata", serif;
    color: #333;
}
h1
{
    font-size: 38px;
}
h2
{
    color: #676767;
    margin-top: 30px;
}
h3
{
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #676767;
}
h4
{
    font-size: 40px;
}
ul li a
{
    display: block;
}
a:hover
{
    text-decoration: none;
    color: #2274a5;
}
.container-fluid
{
    justify-content: center;
}
.container-fluid#intro
{
    min-height: 100%;
    align-items: center;
}
.container-fluid#cases
{
    min-height: 100%;
    background-color: #e9f9f9;
}
.container-fluid#cta
{
    background-color: #363636;
}
.container-fluid#footer
{
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

.navigation
{
    position: absolute;
    top: 0;
    left: calc(50% - (940px * 0.5));
    width: 940px;
    align-self: center;
    font-family: "Prata", serif;
    font-size: 14px;
}
.icon-bar
{
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

nav.navbar
{
    justify-content: space-between;
    font-size: 14px;
}
.navbar-brand img
{
    height: 60px;
}
.navbar-collapse
{
    overflow: hidden;
}
.navbar-toggler
{
    border: none;
    border-radius: 0;
    outline: none !important;
    padding: 15px;
}

.navbar-collapse.collapsing, .navbar-collapse.show
{
    position: absolute;
    top: 100%;
    background-color: #C8C8C8;
    display: block;
    width: 95%;
}
ul.nav
{
    list-style-type: none;
}
.nav-link
{
    padding: 0 1.5rem !important;
    line-height: 50px;
}
.nav a
{
    color: #333;
}
.nav a:hover
{
    color: #2274a5 !important;
}
div.intro, div.cases, div.about, div.cta, div.footer
{
    max-width: 940px;
}

div.intro
{
    position: relative;
    top: -5%;
    width: 80%;
    justify-content: center;
}
div.intro .text-container
{
    max-width: 70%;
}
.intro p
{
    margin-bottom: 0;
}

div.grid-container
{
    display: grid;
    grid-gap: 8%;
    grid-row-gap: 140px;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 0;
}
div.grid-container div
{
    margin: auto;
}
.grid-image img
{
    height: 300px;
}

.about h2
{
    text-align: right;
}

.services h3
{
    font-size: 24px;
    font-family: "Prata", serif;
    line-height: 40px;
    margin: 0;
}
.services h3 a {
    color: #333;
    transition: all 200ms ease-in-out;
}
.services h3 a:hover{
    color: #2274a5;
    text-decoration: none;
}
div.services div
{
    margin: 0 auto;
    text-align: left;
}

div#cta:hover
{
    background-color: #2274a5;
}

.cta
{
    padding: 30px 0;
}
.cta h2, .cta p
{
    margin: 0;
    color: white;
}

.footer
{
    padding: 30px 0;
    width: 940px;
}
.footer-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-grid div a
{
    font-weight: 400;
    color: #2274a5;
    text-decoration: none;
}
.footer-grid div a:hover
{
    color: #fff;
}

.hidedesktop
{
    display: none;
}
.hidemobile
{
    display: block;
}